/* NAVIGATION STUFF GOES HERE  */

body {
    display: block;
}

#top a, #navLinks > a {
    display: none;
}

nav {
    height: auto;
    ul {
        display: flex;
        justify-content: flex-end;
    }
    li a {
        border: none;
    }
    li a:hover {
        background-color: #eee;
    }
}