/* NAVIGATION STUFF GOES HERE  */

body {
    display: block;
}

#top a, #navLinks > a {
    display: none;
}

#headerWrapper {
    border: none;
}

#navWrapper {
    border-bottom: 1px solid grey;
}

nav {
    height: auto;
    ul {
        display: flex;
        justify-content: space-between;
    }
    li a {
        border: none;
    }
    li a:hover {
        background-color: #eee;
    }
}