$greenColor: #1d7226;
$redColor: #9c2931;
$darkBlueColor: #09154b;
$lightBlueColor: #253b9c;
$orangeColor: #8C4202;

$defaultFont:'Poppins', sans-serif;
$normalWeight: 500;
$heavyWeight: 700;
$leading: 150%;

$gutter: 10px;